body {
	margin: 0;
	background-image: linear-gradient(to right, #060630, #872525, #060630);
}

/* ----- Header Section ----- */

header {
	height: 50px;
	background-color: #060630;
	display: flex;
	position: sticky;
	top: 0;
	padding: 15px 30px;
  	align-items: center;
  	box-shadow: 0px 7.5px 60px black;
  	z-index: 100;
}

.logo-and-name {
	float: left;
}

#logo {
	display: flex;
	text-decoration: none;
}

#logo img {
	height: 67.5px;
	width: 67.5px;
}

#company-name {
	margin: auto;
	font-family: sans-serif;
	color: #d1d1d1;
	font-size: 1rem;
}

#search-bar {
	margin-left: auto;
	padding-right: 50px;
}

#search-bar input {
	width: 250px;
	height: 30px;
	background-color: #1b1d44;
	border: none;
  	border-radius: 7.5px;
  	font-size: 0.8rem;
  	color: white;
  	text-indent: 10px;
}

#search-bar input:focus {
	outline: none;
	text-indent: 10.5px;
}

#search-bar input:focus::placeholder {
  	color: transparent;
}

.fa-search {
	color: #9b9b9b;
}

.fa-search:hover {
	cursor: pointer;
}

#notifications {
	padding-right: 50px;
}

#notifications:hover {
	cursor: pointer;
}

.fa-bell {
	color: #b1b1b1;
}

.fa-bell:hover {
	cursor: pointer;
}

#user {
	padding-right: 20px;
}

.fa-user {
	color: #b1b1b1;
}

.fa-user:hover {
	cursor: pointer;
}


/* ----- Main Section ----- */

main {
	width: 90%;
	margin: auto;
	display: flex;
	font-family: helvetica, sans-serif;
	color: white;
}

section {
	width: 75%;
	padding-right: 15px;
}

.section-item {
	padding-top: 15px;
	padding-bottom: 15px;
}

.section-item-name {
	font-weight: bold;
	font-size: 1rem;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* ----- Playlist ----- */

.playlist figure:hover {
	opacity: 0.5;
	transition: 0.2s;
	cursor: pointer;
}

.playlist figure {
	margin: 22px;
}

.playlist img {
	height: 120px;
	width: 120px;
}

.playlist img:hover {
	box-shadow: 0px 0px 10px white;
}

.playlist figcaption {
	font-size: 0.9rem;
	font-weight: 600;
	text-align: center;
	max-width: 120px;
}

.date {
	font-weight: 100; 
	padding-top: 4.5px;
}

									/* - - -  TODO - play icon on hover over playlist */

/* ----- Carousal ----- */

.carousal:hover img {
	opacity: 0.5;
	transform: scale(0.95);
}

.carousal img:hover {
	cursor: pointer;
	opacity: 1;
    transform: scale(1.1);
}

.carousal img {
	height: 135px;
	width: 270px;
	padding: 12px;
	transition: transform 0.2s;
}

/* ----- Latest release ----- */

.latest-release-playlist {
	display: flex;
	height: 100px;
	width: 270px;
	margin: 22px 18px 22px 4px;
}

.latest-release-img-container {
	display: inline-block;
	position: relative;
}

.latest-release-img-container img {
	height: 100px;
	width: 100px;
}

.latest-release-img-container .play-button {
	display: none;
	position: absolute;
  	top: 0;
    left: 0;
    z-index: 99;
}

.latest-release-img-container:hover img {
	opacity: 0.6;
	transition: 0.2s;
}

.latest-release-img-container:hover .play-button {
	display: inline;
	height: 50px;
	width: 50px;
	margin-top: 25%;
	margin-left: 25%;
	transition: 0.2s;
}

.latest-release-playlist-description {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	font-size: 0.8rem;
}


/* ----- Popular artists ----- */

.popular-artists img {
	border-radius: 50%;
}

.popular-artists a {
	text-decoration: none;
	color: white;
}

/* ----- Radio station logo ----- */

.radio-station-logo img {
	height: 100px;
	width: 100px;
	margin: 22px;
}

.radio-station figure {
	position: relative;
	overflow: hidden;
	border-radius: 50%;
}

.radio-station img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	transition: transform 0.2s;
}

.radio-station img:hover {	
	transform: scale(1.55);
}

.radio-station-caption {
	left: 0;
    position: absolute;
    text-align: center;
    top: 45px;
    width: 100%;
    font-size: 1rem;
	z-index: 1;
}

/* ----- Themes ----- */

.themes figure {
	margin: 7.5px;
	position: relative;
	overflow: hidden;
}

.themes img {
	height: 150px;
	width: 270px;
	transition: transform 0.2s;
}

.themes img:hover {
	box-shadow: none;
	transform: scale(1.2);
}

.theme-caption {
	left: 0;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 100%;
    font-size: 1.2rem;
	font-weight: 600;
	z-index: 1;
}

/* ----- Latest english ----- */

.latest-english img {
	border-radius: 6px;
}

/* ----- Latest hindi ----- */

.latest-hindi img {
	border-radius: 6px;
}

/* ----- Latest release ----- */

.latest-release-items {
	display: flex;
	flex-wrap: wrap;
}



/* ----- Footer ----- */
footer {
	position: fixed;
	bottom: 0;
	background-color: #47475a;
	display: flex;
	width: 100%;
	height: 25px;
	padding: 15px 30px;
  	align-items: center;
  	box-shadow: 0px -7.5px 15px black;
  	z-index: 100;
  	transform: translate(0, 37px);
  	transition: all .3s ease-out;
}

footer:hover {
	transform: translate(0, 0);
}

footer audio {
	margin-left: 20%;
	outline: none;
	background-color: #47475a;
}

footer audio::-webkit-media-controls-panel {
	background-color: #47475a;
}

footer audio::-webkit-media-controls-mute-button {
	background-color: #47475a;
}

footer audio::-webkit-media-controls-play-button {
	background-color: #47475a;
}

footer img {
	height: 43px;
	width: 43px;
}

.song-description {
	padding-left: 15px;
}


/* ----- Aside Queue ----- */

aside {
	width: 25%;
	padding-left: 15px;
}

.aside-header {
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

.queue-title {
	font-size: 1.3rem;
	font-weight: 700;
}

.queue-dropdown {
	position: relative;
  	display: inline-block;
}

.dropdown-button {
	padding-top: 7px;
	cursor: pointer;
}

.dropdown-content {
	width: auto;
	right: 0;
	display: none;
  	position: absolute;
  	z-index: 1;
}

.dropdown-content a {
  	color: black;
  	padding: 10px 14px;
  	text-decoration: none;
  	min-width: 120px;
  	display: block;
  	background-color: white;
  	font-size: 0.8rem;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.queue-dropdown:hover .dropdown-content {
  display: block;
}

.queue-songs {
	padding: 5px;
	height: 350px;
	overflow-y: auto;
}

.queue-songs::-webkit-scrollbar {
  	display: none;
}

.queue-item {
	text-decoration: none !important;
}

.queue-song-container {
	height: 60px;
	display: flex;
	align-items: center;
	color: #d1d1d1;
	/*background-color: blue;*/
}

.queue-song-container .serial-number {
	margin: 0px 10px 0px 10px;
	font-size: 0.8rem;
	font-weight: bold;
	text-decoration: none;
}

.queue-song-container .queue-song-image img {
	margin: 0px 10px 0px 10px;
	height: 50px;
	width: 50px;
}

.queue-song-container .song-name {
	font-size: 0.8rem;
	font-weight: bold;
	width: 80px;
	white-space: nowrap;
    overflow: hidden !important;
	text-overflow: ellipsis;
	text-decoration: none !important;
}

.queue-song-container .artist {
	font-size: 0.6rem;
	width: 80px;
	white-space: nowrap;
    overflow: hidden !important;
	text-overflow: ellipsis;
	text-decoration: none !important;
}

.queue-song-container .favourite-icon {
	margin: 0px 10px 0px 10px;
	margin-left: auto;
}


/* -------------- Single Player Screen --------------- */

/* ----- Main section ----- */

.single-playlist-artist {
	margin: 50px;
	display: flex;
	background-color: #07082f;
}

.single-playlist-artist img {
	height: 300px;
	width: 300px;
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.2)));
    /*mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));*/
}

.artist-description {
	margin: 20px;
	color: #bcbcbc;
}

.artist-description .artist-name {
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 30px;
}

.artist-description .artist-biography {
	margin-top: 20px;
	font-size: 0.8rem;
}

.play-all-button {
	margin-top: 60px;
	height: 35px;
	width: 120px;
	color: white;
	font-weight: bold;
	padding: 0;
	border: none;
	/*background: none;*/
	background-image: linear-gradient(to right, blue, #ed4260);
	cursor: pointer;
}

.follow-button {
	height: 35px;
	width: 120px;
	color: white;
	font-weight: bold;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	padding-left: 30px;
}

.tracks-and-albums {
	margin-top: 20px;
	font-size: 0.8rem;
	font-weight: bold;
}

/* ----- Single artist queue songs ----- */

.queue-song-container .plus-icon {
	margin: 30px;
}

.single-playlist-queue .queue-song-container {
	margin: 10px 50px 10px 50px;
	background-color: #191a3c;
}


/* ----- Aside Section ----- */

.similar-artists {
	height: 250px;
	padding-left: 20px;
}

.recently-played {
	height: 250px;
}

.recently-played-header {
	margin-top: 30px
}

.view-all {
	font-size: 0.8rem;
	margin-top: 7px;
	cursor: pointer;
}